<% include partials/header %>

<script>
  window.initMap = function() {};
</script>
<div class="container" style="min-height: 100%;">
  <div class="container" style="padding-top: 70px;">
    <h1>About</h1>
    <a href="/">Go Back</a>
  </div>
</div>

<% include partials/footer %>