<% include partials/header %>
<script>
  window.initMap = function() {};
</script>
<div class="container" style="min-height: 100%;">
  <div class="container" style="padding-top: 70px;">
    <h1>Contact</h1>
    <div>
      <a href="https://termsfeed.com/disclaimer/213ec180bd11b4d488f372773954447c">Disclaimer</a>  
    </div>
    <a href="/">Go Back</a>
  </div>
</div>
<% include partials/footer %>