<% include partials/header %>

<script>
  window.initMap = function() {};
</script>

<div class="container" style="padding-top: 70px; text-align: center;">
    <div class="row">
      <div class="col-md-12">
      	<form action="/email-verification/<%= token %>" method="POST">
      	  <legend>Confirm your account</legend>
      	  <div class="form-group">
      	    <button type="submit" class="btn btn-primary">Confirm account</button>
      	  </div>
      	</form>
      </div>
    </div>
  </div>  
  
<% include ./partials/footer %>